index.html.erb

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, restaurant_path(restaurant)
 %> </h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
<% end %>


<%= link_to "Add a new restaurant", new_restaurant_path%>
